body {
    background-image: url("background-wood.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
}

.topnav {
    background-color: lightgray;
    overflow: hidden;
    opacity: 0.7;
}

.topnav a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.topnav a:hover {
    background-color: #ddd;
}
