#product-display {
    display: flex;
}

.product-card {
    background-color: white;
    height: 250px;
    width: 200px;
    margin: 20px;
}

img {
    width: 100%;
    outline: black;
    background-color: gray;
    display: block;
    margin: auto;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}