<div id="product-display">
    <div ng-repeat="product in productsCtrl.productsArr">
        <div class="product-card">
            <img ng-src="{{product.imgThumbnail}}" alt="{{product.description}}" ui-sref="productDetails({id:product.id})">
            <p>{{product.name}}</p>
            <p>{{product.price | currency}}</p> 
            <button ng-show="parent.signedIn()" ng-click="productsCtrl.addToCart(product)">add to cart</button>
            <p ng-hide="parent.signedIn()">(Please login to add item to cart.)</p>
        </div>
    </div> 
</div>