<div ng-show="sc.totalQuantity === 0">Your cart is empty</div>
<div ng-hide="sc.totalQuantity === 0"> </div>
<table ng-hide="sc.totalQuantity === 0" class='cart-table'>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(id, item) in sc.items">
            <td>{{item.product.name}}</td>
            <td>{{item.product.price | currency}}</td>
            <td> <input class="qty" type="number" ng-model="item.qty"></td> 
            <td> <span ng-click="sc.removeItem(item.product.id)">Remove Item</span> </td>
        </tr>
    </tbody>
</table> 
<button ng-click="sc.emptyCart()">Empty Cart</button> <button ng-hide="sc.totalQuantity === 0" ng-click="sc.placeOrder()">Place Order</button> 