<div>Shopping Cart</div>
<div ng-show="sc.totalQuantity === 0">Your cart is empty</div>
<div ng-hide="sc.totalQuantity === 0"> <button ng-click="sc.emptyCart()">Empty Cart</button> </div>
<table ng-hide="sc.totalQuantity === 0">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(id, item) in sc.items">
            <td>{{item.product.name}}</td>
            <td>{{item.product.price | currency}}</td>
            <td> <input type="number" ng-model="item.qty"></td> <!--make quantity editable-->
            <!-- Make it possible to remove items from cart-->
        </tr>
    </tbody>
</table> 
<button ng-hide="sc.totalQuantity === 0" ng-click="sc.placeOrder(sc.buildSubTransactionsArr())">Place Order</button>